@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Share Tech Mono", monospace;
    background-color: #222222;
}

.container {
    display: flex;
    margin: 5% auto;
    max-width: 1220px;
    box-shadow: 1px 2px 5px #121610;
}

.left {
    flex: 2;
    background-image: url("./images/cyberpunk.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.left .block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.7);
}

.left .logo {
    height: 110px;
}

.left .title {
    color: #fff;
    font-size: 4rem;
}

.right {
    flex: 3;
    background-color: #fff;
}

.right header {
    color: #2d2d2d;
    text-align: center;
    margin: 40px 20px;
    max-width: 1000px;
}

.right header .head {
    font-size: 2.7rem;
    font-weight: 700;
    margin-top: 26px;
}

.right header .body {
    font-size: 1.5rem;
    margin: 20px 0;
}

.right header .CTA {
    font-size: 1.8rem;
    font-weight: 500;
}
section .form {
    color: #fff;
    text-align: center;
    background-color: #001A2D;
    padding: 30px 20px;

}

section .form p {
    font-size: 24px;
    font-weight: bold;
}

section .form legend {
    font-size: 16px;
    padding: 10px 0px;
}

section .form .row {
    display: flex;
    align-items: start;
    justify-content: center;
}

section .form .field {
    display: flex;
    flex-direction: column;
}


section .form button {
    color: #fff;
    background-color: #E20939;
    font-size: 1.2rem;
    border: none;
    margin-top: 10px;
    padding: 10px 40px;

}

section .form button:hover {
    background-color:  #71041c;
}

section .form button:active {
    background-color: #9e0627;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"] {
    font-size: 18px;
    height: 32px;
    border: 2px inset #E5E7EB;
    border-radius: 5px;
    margin: 2px 10px 15px 0px;
}

form input:focus {
    border: 2px solid lightblue;
    outline: none;
}

div .login p{
    font-size: 16px;
    margin-top: 20px;
}

div .login a {
    color: #E20939;
}

.error {
    background-color: #ed3419;
    margin-bottom: 0;
    padding-bottom: 0;
}

.fieldMsg {
    font-size: 14px;
    text-align: left;
    padding: 0;
    margin: 0;
}

#password,
#confirmPassword {
    margin-bottom: 3px;
}

@media(max-width: 70vh) {
    .container {
        flex-direction: column;
        height: 80vh;
    }
    .left .block {
        margin-top: 5%;
    }
    .right header {
        margin-top: 0px;
    }
}